body{
    background-color: rgb(34, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(52, 53, 53);
    width: 100%;
    position: fixed;
    top: 0px;
}

li{
    float: left;
}

li a{
    text-decoration: none;
    display: block;
    background-color: gray;
    margin-left: 0px;
    padding: 14px 16px;
    color: white;
}

.active{
    background-color: orange;
}
li a:hover:not(.active){
    background-color: black;
}

::selection{
    background-color: rgb(255, 185, 64);
    color: rgb(18, 18, 18);
}

div{
    z-index: 1;
}
h1{
    margin-top: 140px;
    text-align: center;
    z-index: 2;
}


div .pic{

    border-radius: 15px 20px 30px 40px ;
}