.body{
    
}

#red {
    background-color: red;
    color: red;
    border-color: red;
}

#blue{
    background-color: blue;
    color: blue;
    border-color: blue;
}

#green{
    background-color: white;
    color: white;
    border-color: white;
}

#black{
    background-color: black;
    color: black;
    border-color: black;
}